 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
        background-color: #0F172A;
        font-family: 'Poppins', sans-serif;
    }

    nav{
        display: flex ;
        justify-content: space-between;
        align-items:center;
        padding: 1em 3em;
        background-color: #1E293B;
        color: #FFFFFF;
        position: sticky; 
        top:0;
        z-index: 100;
        }
        .logo{
            font-size: 2rem;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 1px;
        cursor: pointer;
            
        }
        nav ul{
            list-style: none;
            display: flex;
            gap: 2em;
        }
        nav ul li a {
            text-decoration: none;
            color: #CBD5E1;
            font-weight: 500;
            transition: color 0.3s;
        }

        nav ul li a:hover {
            color: #3B82F6;
        }

        .hero{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 6em 2em;
            background:linear-gradient(135deg, #1E293B, #0F172A) ;
            color: #CBD5E1;
        }
        .hero h1{
            font-size: 3em;
            margin-bottom: 1em;
            color: #FFFFFF;
        }
        .hero p{
            font-size: 1.2em;
            margin-bottom: 2em;
            max-width: 600px;
            color: #CBD5E1;
        }
        .hero button{
            padding: 1em 2.5em;
            font-size: 1.2em;
            color: #0F172A;
            background-color: #00F5FF;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 600;
            transition: transform 0.3s, background-color 0.3s;
        }
        .hero button:hover{
            background-color: #3B82F6;
            transform: scale(1.05);
            color: #FFFFFF;
        }



